<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/favicon.ico') }}" alt="Logo" style="height: 30px; margin-right: 10px;">
                Glassworks
            </a>{#  #}
            <!-- Mobile nav-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Nav links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('report')}}">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('lucky')}}">Lucky</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>