{% extends "base.html.twig" %}
{% block title %}API Documentation{% endblock %}
{% block body %}
<div class="container my-4">
    <h1>API Documentation</h1>
    <p>This document provides detailed information about each API jsonroute. Click the buttons below to navigate to the respective sections.</p>
    <div class="btn-group mb-4" role="group">
        {% for jsonroute in jsonroutes %}
            <a href="#{{ jsonroute.id }}" class="btn btn-primary">{{ jsonroute.title }}</a>
        {% endfor %}
    </div>

    {% for jsonroute in jsonroutes %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 id="{{ jsonroute.id }}">{{ jsonroute.title }}</h2>
        </div>
        <div class="card-body">
            <p>{{ jsonroute.description }}</p>
            <div class="row">
                <div class="col-md-6">
                    <h4>URL</h4>
                    <pre>{{ jsonroute.url }}</pre>

                    <h4>Method</h4>
                    <pre>{{ jsonroute.method }}</pre>
                </div>
                <div class="col-md-6">
                    <h4>Arguments</h4>
                    <p>{{ jsonroute.arguments }}</p>

                    <h4>Request Example</h4>
                    <pre>{{ jsonroute.requestExample }}</pre>
                </div>
            </div>
            <h4>Example response:</h4>
            <div class="p-3 mb-2 bg-light text-dark border rounded">
                <pre class="mb-0">{{ jsonroute.responseExample | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
