{% extends "base.html.twig" %}
{% block title %}API Documentation{% endblock %}
{% block body %}
<div class="container my-4">
    <h1>API Documentation</h1>
    <p>This document provides detailed information about each API route. Click the buttons below to navigate to the respective sections.</p>
    <div class="btn-group mb-4" role="group">
        {% for route in jsonroutes %}
        <a href="#{{ route.id }}" class="btn btn-light btn-outline-dark">{{ route.title }}</a>
        {% endfor %}
    </div>
    {% for route in jsonroutes %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 id="{{ route.id }}">{{ route.title }}</h2>
        </div>
        <div class="card-body">
            <p>{{ route.description }}</p>
            <div class="row">
                <div class="col-md-6">
                    {% if route.url %}
                        <h4>URL</h4>
                        <pre>{{ route.url }}</pre>
                    {% endif %}
                    {% if route.method %}    
                        <h4>Method</h4>
                        <pre>{{ route.method }}</pre>
                    {% endif %}
                    {% if route.responseExamples %}
                        <h4>Example responses:</h4>
                        {% for response_key, response in route.responseExamples %}
                        <div class="p-3 mb-2 bg-light text-dark border rounded">
                            <h5>{{ response_key }}</h5>
                            <pre class="mb-0">{{ response | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if route.arguments %}
                        <h4>Arguments</h4>
                        <p>{{ route.arguments }}</p>
                    {% endif %}
                    {% if route.statusCodes %}
                        <h4>Status Codes and Messages</h4>
                        <p>Aside from default status reponse codes, the following are in use:</p>
                        <ul>
                            {% for code, message in route.statusCodes %}
                            <li><strong>{{ code }}</strong>: {{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}